---
import Layout from '../layouts/Layout.astro';
import Reload from '../components/PagesTsx/Reload';
---

<Layout title="Planes Claro Hogar Perú">
	<main>
		<Reload client:only="react"/>
	</main>
</Layout>

<style>

</style>